registry=http://registry.npm.baidu-int.com
ELECTRON_MIRROR=http://mirror.npm.baidu-int.com/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://mirror.npm.baidu-int.com/electron-builder-binaries/
ELECTRON_CUSTOM_DIR=v11.1.0